<%= link_to "Sign out", destroy_user_session_path, :method => :delete , :class => 'signOut' %>



<div class=container>

	

	<div class="left_d">

		<div class="hover" id="yc" onclick="window.location='my/curriculums'">Your Classes</div><br>		

		<div class="hover" id="yw" onclick="window.location='my/worksheets'">Your Worksheets</div><br>		

		<div class="hover" id="yp" onclick="window.location='my/questions'">Your Problems</div><br>

	</div>

	

	<div class="middle_d">

		<div class="hover" id="bc"  onclick="window.location='http://www.academicaide.com/curriculums'">Browse Classes</div><br>		

		<div class="hover" id="bw" onclick="window.location='http://www.academicaide.com/worksheets'">Browse Worksheets</div><br>

		<div class="hover" id="bp" onclick="window.location='http://www.academicaide.com/questions'">Browse Problems</div><br>

	</div>

	

	<div class="right_d">

		<div class="hover right_d" id="pc" style="margin-top: 125px;">Past Classes</div><br>

		<div class="hover right_d" id="pw" >Past Worksheets</div><br>

		<div class="hover right_d" id="pp" onclick="window.location='/questions'">Past Problems</div><br>

	</div>

	

</div>
