<div id=contents>
	<h1 class="contents question" id="whatIs"> What is Academic Aide?</h1>
	<p class="contents answer" id="whatIs_answer"> We are a free-to-use website that is devoted to helping educators in mathematics further their students understandings of concepts through the use of customizable computer generated worksheets.</p>
	<h1 class="contents question" id="how"> How does Academic Aide do this?</h1>
	<p class="contents answer" id="how_answer"> Practice makes perfect has always been a widely accepted term in academia for a very simple reason.<br> It works. Through Academic Aide, teachers and tutors are able to utilize this ideology on our user-friendly and FREE web services! Teachers use students email addresses to set up classes and are then able to distribute worksheets electronically, getting immediate feedback when the student has completed it on their performance and where most issues lie.</p>
	<h1 class="contents question" id="different"> What makes us different?</h1>
	<p class="contents answer" id="different_answer"> The glory of Academic Aide comes from our unique reliance on our user input. Each question is made by our users, organized by our users, and ranked by our users.</p>
</div>
